// best seen at 1500px or less

html, body { height: 100%; }
body {
  overflow: hidden;
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  font-family: 'Roboto';
  h1 {
    font-weight: 1200;
    font-size: 4rem;
  }
}



.landing-bg {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background: #0F2027;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-text {
  // border: 1px solid black;
  margin-top: -7rem;  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-bottom: 1rem;
  }
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

.dashboard-bg {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  // border: 1px solid black;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  .vote-container {
    height: 80%;
    width: 100%;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .results-container::-webkit-scrollbar-track {
      background-color: transparent;
    }
    
    .results-container::-webkit-scrollbar {
      width: 0.4rem;
      background-color: transparent;
    }
    
    .result-container::-webkit-scrollbar-thumb {
      background-color: rgba(180, 180, 180, 0.692);
      border-radius: 3rem;
    }
    .results-container {
      width: 40%;
      height: 40%;
      background: white;  
      overflow-x: hidden;
      overflow-y: scroll;
      .result-container {
        border-bottom: 1px solid rgb(177, 177, 177);
        height: 6rem;
        display: flex;
        flex-direction: row;
        .add-button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 10%;
          // border: 1px solid black;
          background: rgb(243, 243, 243);
          height: 100%;
        }
        .track-details {
          width: 100%;
          display: flex;
          flex-direction: row;
          .img-container {
            // border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15%;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
          }
          .name-and-artist {
            // border: 1px solid black;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: center;
            .track-name {
              margin-bottom: -1.5rem;
              // border: 1px solid black;
            }
            .artist-info {
              display: flex;
              flex-direction: row;
            }
          }
          
        }  
      }

    }
  }
  .dashboard-component {
    h2 {
      font-size: 2.5rem;
      margin: 0 0 0 1rem;
      text-align: center;
    }
    overflow-x: hidden;
    // border: 1px solid red;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // border: 1px solid black;
    height: 80%;
    .playlist-box {
      -webkit-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.14); 
      box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.14);
      border-radius: 1rem;
      height: 70%;
      background: white;
      width: 90%;
      display: flex;
      flex-direction: column;
      .headings {
        border-radius: 1rem 1rem 0 0;
        width: 100%;
        height: 10%;
        background: rgb(215, 215, 215);
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 2fr 8fr;
      }
      .tracks-grid::-webkit-scrollbar-track {
        background-color: transparent;
      }
      
      .tracks-grid::-webkit-scrollbar {
        width: 0.4rem;
        background-color: transparent;
      }
      
      .tracks-grid::-webkit-scrollbar-thumb {
        background-color: rgba(180, 180, 180, 0.692);
        border-radius: 3rem;
      }
      .tracks-grid {
        width: 100%;
        height: 90%;
        box-sizing: border-box;
        overflow-y: scroll;
        .track-container {
          display: grid;
          grid-template-columns: 2fr 8fr;
          height: 4.4rem;
          border-bottom: 2px solid rgb(231, 231, 231);
          .track-details {
            display: grid;
            grid-template-columns: 3fr 4fr 6fr;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            // border: 1px solid black;
            .artist-info {
              // border: 1px solid black;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              padding-left: 1rem;
              overflow: hidden;
            }
            .img-container {
              // border: 1px solid black;
              display: flex;
              justify-content: center;
              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
              }
              
            }
            .track-name {
              // border: 1px solid black;
              overflow: hidden;
            }
            
          }

          .vote-details {
            background: rgba(242, 242, 242, 0.388);
            display: flex;
            align-items: center;
            justify-content: center;
          } 
        }
        
      }
    }
  }
  .line {
    width: 2px;
    // background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.4009978991596639) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.39539565826330536) 100%);
    height: 60%;
    align-self: flex-start;
    margin-top: 6rem;
  }
}

.user-bg {
  // border: 1px solid black;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  .search-field {
    // border: 1px solid black;
    margin-left: 5rem;
    display: flex;
    width: 30rem;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    button {
      // height: 70%;
      margin-left: 2rem;
    }
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.singup-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .signup-container {
    background-color: white;
    height: 70%;
    width: 60%;
    border-radius: 1.4rem;
    -webkit-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.14); 
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.14);
    display: flex;
    align-items: center;
    flex-direction: column;
    // padding: 1rem;
    h2 {
      color: black;
      font-size: 2.5rem;
      font-weight: 1000;
      text-align: center;
      margin-top: 3rem;
    }
    hr {
      margin-top: -1rem;
      width: 80%;
      height: 0.2rem;
      border: none;
      background-color: rgb(224, 224, 224);
    }
    .form {
      margin-top: 2rem;
      width: 80%;
      // border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.tracking-in-expand {
  will-change: letter-spacing, opacity;
	-webkit-animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.button-container {
  margin-top: 1rem;
.slide-in-blurred-bottom {
  will-change: transform, filter, transform-origin, opacity;
	-webkit-animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s both;
	        animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s both;
}
}

@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 700px) {
  .tracking-in-expand {
    animation: none;
  }
  .button-container {
    .slide-in-blurred-bottom {
      animation: none;
    }
  }
  body {
    h1 {
      font-weight: 1200;
      font-size: 3rem;
    }
  }
}